.textbox {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Hind', Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    height: 200px;
    padding: 20px;
    font-size: 18px;
    overflow-y: scroll;
    resize: both;
}
.storyteller {
    font-size: 16px;
    border-left: 2px solid #19de65;
    padding-left: 10px;
    margin-left: 20px;
}
.dialog {
    display: flex;
    border-left: 2px solid #52DBE2;
    background-color: #0A1A37;
    margin: 20px 0 20px 20px;
    padding: 10px;
}
.dialog_name {
    padding-left: 10px;
    color:#52DBE2;
}
.dialog_text {
    padding-left: 10px;
}
.picture {
    height: 100px;
    width: 100px;
    background-size: cover;
    padding-right: 100px;
}
.picture.damian {
    background-image: url('assets/image/dialog/damian_100x100px.png');
}
.picture.tamo {
    background-image: url('assets/image/dialog/tamo_100x100px.png');
}
.picture.lorcan {
    background-image: url('assets/image/dialog/lorcan_100x100px.png');
}
.decision {
    margin-bottom: 20px;
}
.decision_list_item {
    list-style: none;
}
.decision_button {
    border-left: 2px solid #52DBE2;
    background-color: #0A1A37;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 20px;
    text-decoration: none;
}
.decision_button:hover {
    border-left: 2px solid white;
    background-color: #52DBE2;
    color: #0A1A37;
}
.navigation {
    font-family: 'Hind', Arial, Helvetica, sans-serif;
    background-color: black;
    font-size: 16px;
}
.navigation_list {
    display: flex;
    list-style: none;
}
.navigation_list_item {
    padding: 20px;
}
.navigation_link  {
    color: #666666;
    transition-property: color;
    transition-duration: 2s;
    transition-timing-function: ease;
    text-decoration: none;
}
.navigation_link-textbox {
    display: block;
    text-align: right;
    position: fixed;
    bottom: 10px;
    right: 30px;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.8);
}
.navigation_link:hover {
    color: white;
}
.textbox_navigation {
    font-family: 'Hind', Arial, Helvetica, sans-serif;
    background-color: black;
    font-size: 16px;
    padding: 0;
}
.popupContent {
    font-family: 'Hind', Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #333333;
    color: white;
    display: none;
    padding: 20px;
}	
.popupContent_warning {
    color: red;
}
.popupContent_control {
    padding-bottom: 20px;
}
.popupContent_control_button {
    color: #19de65;
    border: 1px solid #19de65;
    padding: 3px 10px;
    margin: 0 5px;
}
.popupContent_title {
    padding-bottom: 10px;
}
.popupContent_button {
    background-color: #999999;
    color: black;
    font-size: 18px;
    width: 160px;
    padding: 5px;
    text-align: center;
    border: none;
    margin: 10px 15px 10px 0;
    cursor: pointer;
}
.popupContent_button:hover {
    background-color: white;
}
.impressum {
    font-family: 'Hind', Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #F5F5F5;
    color:black;
    padding: 10px 100px;
}
.impressum_title {
    background-color: #0093bb;
    color: white;
    padding: 5px 10px;
    margin: 30px 0 5px 0;
}
.impressum_subtitle {
    padding: 10px 0 0 0;
}
.impressum_list_item {
    margin-left: 20px;
    padding-top: 5px;
    font-size: 14px;
}
.impressum_link {
    color: #0093bb;
    text-decoration: none;
}
.impressum_link:hover {
    color:navy;
    text-decoration: underline;
}